@font-face {
    font-family: Lato-Regular;
    src: url(../font/Lato-Regular.ttf);
}
@font-face {
    font-family: Rolves-Regular;
    src: url(../font/Rolves-Regular.ttf);
}
@font-face {
    font-family: Rolves-Bold;
    src: url(../font/Rolves-Bold.ttf);
}