@media only screen and (min-width: 1400px) {
    .container {
        width: 1320px;
        margin: auto;
    }
}
@media only screen and (max-width: 1400px) {
    .container {
        width: 1140px;
        margin: auto;
    }
    .btn-text {
        font-size: 16px;
    }
    .nav-boxs {
        margin: 10px 00px;
    }
    .drpdown-box {
        margin: 00px 73px 00px 370px;
      }
      .show {
        margin: 00px 19px;
    }
    .join-btn {
        padding: 9px 20px;
    }
    .login-btn{
        padding-left: 17px;
    }
    .about-btn {
        padding: 00px 20px 00px 20px;
    }
    .hero-text-box {
        width: 70%;
        padding-top: 80px;
    }
    .hero-text-box h1 {
        font-size: 60px;
    }
    .mrgin {
        margin-bottom: 85px;
    }
    .callout h1 {
        font-size: 30px;
    }
    .f-size {
        padding: 00 250px 00 30px;
    }
    .p-title {
        padding: 00 250px 10px 30px;
    }
    .ftr-text-box {
        margin: 70px 10px 50px 00;
        height: 10px;
        line-height: 14px;
    }
    .hero-text-box p {
        font-size: 19px;
        padding: 14px 00px 30px 00px;
    }
    .puse-box {
        margin: 100px 00px 15px 00px;
    }
    .box-content {
        margin: 110px 00px 100px 00px;
    }
    .process-contaian {
        padding: 100px 00px 100px 00px;
    }
    .mrgin2 {
        margin-bottom: 34px;
    }
    .card-details{
        padding: 00px 20px 30px 20px;
    }
    .card-header{
        padding: 24px 20px;
    }
    .ftr-section {
        padding: 30px 00px 20px 00px;
    }
    .ftr-text {
        font-size: 15px;
    }
    .video-box {
        padding: 192px 310px 171px 310px;
    }
    #myVideo {
        height: 517px;
      }
}

@media only screen and (max-width: 1200px) {
    .container {
        width: 900px;
        margin: auto;
    }
    .box-wrapper {
        padding: 40px 00px 30px 00px;
        margin-bottom: 40px;
    }
    .box {
        width: 30%;
        margin-top: 40px;
    }
    .content {
        padding: 00px 30px;
    }
    .box p {
        padding: 22px 30px 00px 30px;
    }
    .heading {
        font-size: 29px;
        padding: 12px 00px 20px 00px;
    }
    .accordion button .accordion-title {
        font-size: 21px;
        width: 100%;
    }
    .wrapper h3{
        font-size: 21px;
    }
    .que-section {
        padding: 90px 00px 00px 00px;
    }
    .que-heading {
        font-size: 38px;
    }
    .home-img {
        margin-top: 20px;
        display: flex;
        height: 180px;
        margin: auto;
    }
    .que-box2 {
        width: 70%;
        margin: auto;
    }
    .que-box1 {
        width: 100%;
        text-align: center;
    }
    .que-box1 p {
        padding: 30px 00px 90px 00px;
    }

    .process-box {
        text-align: center;
    }
    .mrgin {
        margin-bottom: 90px;
    }
    .ftr-box{
        width: 20%;
        display: block;
    }
    .ftr-call-btn {
        padding: 2px 12px;
        text-align: center;
        display: block;
    }
    .ftr-text {
        font-size: 14px;
    }
    .f-size {
        padding: 00 00px 00 30px;
    }
    .ftr-end-text {
        display: none;
    }
    .start-btn {
        padding: 8px 18px;
    }
    .video-box {
        padding: 130px 150px 130px 150px;
    }
    .video-section {
        padding: 100px 00px;
    }
    .card_box {
        width: 32%;
    }
    .card_box h2 {
        font-size: 19px;
    }
    .details-box {
        padding: 00px 00px 00px 00px;
    }
    .box-content h1 {
        font-size: 29px;
    }
    .mrgin2 {
        margin-bottom: 18px;
    }
    .box-content {
        margin: 70px 00px 80px 00px;
    }
    .process-contaian {
        padding: 75px 00px 60px 00px;
    }
    .join-btn {
        padding: 9px 10px;
    }
    .btn-text {
        font-size: 15px;
    }
    .about-btn {
        padding: 00px 5px 00px 11px;
        border: none;
    }
    select {
        font-size: 15px;
        padding: 00 2px;
    }
    .last-font{
        padding-left: 240px;
    }
    .drpdown-box {
        margin: 00px 22px 00px 250px;
      }
      .login-btn{
        padding-left: 6px;
    }
    #myVideo {
        height: 496px;
      }
      #myBtn{
        width: 49px;
        font-size: 18px;
        padding: 23px 00px;
      }
      #myBtn:hover {
        width: 55px;
        height: 00px;
        transform:scale(1);
        transition: 0.75s ease-in-out;
      }
}

@media only screen and (max-width: 992px) {
    .container {
        width: 720px;
        margin: auto;
    }
    .accordion button[aria-expanded="true"] + .accordion-content {
        max-height: 550px;
        margin: auto;
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 135px;
        flex-direction: row;
        background-color: rgba(255, 255, 255);
        width: 30%;
        float: right;
        display: inline-block;
        /* height: 400px; */
        border: 1px solid rgb(211, 211, 211);
        text-align: center;
    }
    .nav-menu.active {
        left: 0;
    } 
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .drpdown-box {
        display: flex;
        flex-direction: column;
        padding: 20px 00px ;
      }
      .show {
        all: unset;
        padding: 12px 2px;
        display: flex;
        align-items: center;
        gap: 13px;
        margin: 00px 25px;
    }
    .join-btn {
        margin: 10px 58px;
        padding: 12px;
        font-size: 18px;
        display: flex;
        justify-content: space-around;
    }
    .about-btn {
        height: 50px;
        padding: 00px ;
        font-size: 18px;
        display: flex;
        justify-content: space-around;
    }
    .login-btn{
        padding-left: 00;
        display: flex;
        font-size: 18px;
        justify-content: space-around;
        margin: 10px 40px 30px 60px;
    }
    .btns-block{
        display: block;
    }
    .card_box {
        width: 46%;
        margin-top: 20px;
    }
    .mrgin {
        margin-bottom: 113px;
    }
    .process-contaian {
        padding: 80px 00px 70px 00px;
    }
    .que-box2 {
        width: 90%;
    }
    .hero-text-box {
        width: 100%;
        padding-top: 100px;
    }
    .last-font{
        padding-left: 140px;
    }
    .nav-boxs {
        margin: 7px 00px 7px 00px;
    }
    .space-around{
        margin: auto;
        margin-top: 20px;
    }
    #myVideo {
        height: 510px;
      }
      .p-boxs {
        width: 100%;
        margin: 00px;
    }
    .accordion_item {
        width: 80%;
        margin: auto;
    }
    .que-box {
        padding: 80px 00 20px 00;
    }

        /* process section 2 */

        .section-show{
            display: block;
        }
        .section-hide{
            display: none;
        }
}

@media only screen and (max-width: 768px) {
    .container{
        width: 540px;
        margin: auto;
    }
    .hero-text-box {
        text-align: center;
    }
    .nav-menu {
        top: 135px;
        width: 37%;
        height: auto;
    }
    .join-btn {
        margin: 10px 58px;
        padding: 11px;
        font-size: 16px;
        display: flex;
        justify-content: space-around;
    }
    .puse-box {
        padding: 100px 00px 15px 00px;
        margin: auto;
    }
    .box {
        width: 50%;
    }
    .process-contaian {
        padding: 70px 00px 20px 00px;
    }
    .accordion-item {
        width: 95%;
    }
    .p-boxs {
        margin: 00px 00px 00px 00px;
    }
    .accordion_item {
        width: 100%;
    }
    h1 sub {
        font-size: 16px;
        color: grey;
        font-weight: normal;
    }
    .card-header{
        padding: 25px 15px;
    }
    .card_box {
        width: 49%;
    }
    .mrgin {
        margin-bottom: 90px;
    }
    .mrgin2 {
        margin-bottom: 38px;
    }
    .que-section {
        padding: 70px 00px 00px 00px;
    }
    .que-box1 p {
        padding: 30px 00px 50px 00px;
    }
    .video-box {
        padding: 100px;
    }
    .ftr-box{
        width: 30%;
        display: block;
    }
    .p-title {
        padding: 00 70px 10px 30px;
        word-spacing: 5px;
    }
    .wrapper {
        padding: 10px 00px;
    }
    .last-font{
        padding-left: 60px;
    }
    #myVideo {
        height: 590px;
      }
      /* #myBtn{
        width: 49px;
        font-size: 18px;
        padding: 23px 00px;
      }
      #myBtn:hover {
        width: 55px;
        height: 00px;
        transform:scale(1);
        transition: 0.75s ease-in-out;
      } */
    .login-btn {
        justify-content: space-around;
        margin: 10px 40px 30px 50px;
    }
}

@media only screen and (max-width: 600px) {
    .container{
        width: 405px;
        margin: auto;
    }
    .nav-menu {
        top: 135px;
        width: 48%;
        height: auto;
    }
    .join-btn {
        margin: 10px 58px;
        padding: 10px 6px;
        font-size: 16px;
        display: flex;
        justify-content: space-around;
    }
    .ftr-box{
        width: 50%;
        text-align: center;
        display: block;
        margin-top: 10px;
    }
    .home-img {
        display: none;
    }
    .ftr-call-btn {
        padding: 2px 12px;
        text-align: center;
        display: block;
        width: 40%;
        margin: auto;
    }
    .last-font{
     display: none;
    }
    .underline {
        width: 50%;
        margin: auto;
    }
    .card_box {
        width: 100%;
        margin-top: 17px;
    } 
    .p-title {
        padding: 00 00px 10px 10px;
        font-size: 16px;
    }
    .f-size {
        padding: 00 00px 00 10px;
    }
    .ftr-text-box {
        margin: 70px 2px 44px 1px;
    }
    .ftr-box h3{
        border-bottom: 1px solid rgba(176, 176, 176, 0.761);
    }
    .underline{
        display: none;
    }
    .video-section {
        padding: 70px 00px;
    }
    .video-box {
        padding: 80px 40px;
    }
    .que-box2 {
        width: 100%;
    }
    .grup_img {
        height: 350px;
    }
    .accordion-item {
        width: 90%;
    }
    .box-content {
        margin: 90px 00px 60px 00px;
    }
    .puse-box {
        margin: 00px 00px 15px 40px;
    }
    #myVideo {
        height: 673px;
      }
      .toggle {
        padding: 10px 20px ;
    }
    .content {
        padding: 00px 80px 00px 20px;
    }
    .login-btn{
        justify-content: space-around;
        margin: 10px 40px 30px 60px;
    }
}

@media only screen and (max-width: 425px) {
 .container{
    width: 300px;
    margin: auto;
 }
 .nav-menu {
    top: 135px;
    width: 60%;
}
.join-btn {
    margin: 10px 48px;
    padding: 8px 1px;
}
 .ftr-box{
    width: 100%;
    display: block;
}
.ftr-text-box {
    margin: 120px 10px 10px 00;
}
.img-3{
    height: 39px;
    display: block;
}
.video-box {
    padding: 80px 20px 80px 20px;
}
.ftr-text {
    font-size: 13px;
}
.video-section {
    padding: 60px 00px;
}
.que-box2 {
    width: 100%;
}
.que-heading {
    font-size: 28px;
}
.que-box1 p {
    font-size: 14px;
}
.que-section {
    padding: 60px 00px 00px 00px;
}
.box-content h1 {
    font-size: 24px;
}
.card_box {
    margin-top: 20px;
} 
.box-content {
    margin: 50px 00px 60px 00px;
}
.process-contaian {
    padding: 50px 00px 00px 00px;
}
.grup_img {
    height: 300px;
}
.accordion-item {
    width: 100%;
    padding: 00px ;
}
.accordion button .accordion-title {
    font-size: 18px;
    padding: 00px 20px;
}
.heading {
    font-size: 22px;
}
.p {
    font-size: 18px;
}
.title {
    font-size: 16px;
}
.box {
    width: 100%;
}
.box-content h4 {
    font-size: 16px;
}
.puse-box {
    padding: 60px 00px 15px 00px;
    margin: 00px 1px;
}
.push-img { 
    width: 37px;
    height: 37px;
    transition: width 1s, height 1s;
  }
  .push-img:hover {
    width:40px;
    height: 40px;
    border: 3px solid rgba(132, 132, 132, 0.349);
  }
.start-btn2 {
    padding: 9px 15px;
    font-size: 16px;
}
.box-wrapper p {
    font-weight: normal;
}
.hero-text-box h1 {
    font-size: 35px;
}
.hero-text-box {
    width: 100%;
    padding-top: 70px;
}
.push-btn-center{
    display: flex;
}
.note{
    font-size: 18px;
}
.p-title {
    line-height: 24px;
}
#myVideo {
    height: 432px;
  }
  .p-boxs {
    width: 100%;
    margin: 00px;
}
.toggle {
    padding: 10px 5px ;
}
.login-btn{
    margin: 10px 30px 30px 50px;
}
.content {
    padding: 00px 80px 00px 20px;
}    .content {
    padding: 00px 80px 00px 20px;
}
#myBtn {
    width: 35px;
    padding: 16px 00px;
  }
  #myBtn:hover {
    border: 3px solid rgba(156, 156, 156, 0.651);
    width: 36px;
    /* height: 00px; */
    padding: 15px 00px;
    transform:scale(0.90);
    transition: 0.75s ease-in-out;
  }
  .puse-box h2{
    font-size: 17px;
}
.content {
    padding: 00px 40px 00px 5px;
}
}